@using System.Globalization
@model Gighub.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}



<ul class="gigs">
    @foreach (var gig in Model.UpcomingGigs)
    {
        <li>
            <div class="gigs-date">
                <div class="gigs-date-month">
                    @gig.DateTime.ToString("MMM", DateTimeFormatInfo.InvariantInfo)
                </div>
                <div class="gigs-date-day">
                    @gig.DateTime.ToString("d ", DateTimeFormatInfo.InvariantInfo)
                </div>
            </div>
            <div class="gigs-detail">
                <span class="gigs-artist">
                    @gig.Artist.Name
                    @if (Model.ShowActions)
                    {
                        <button class="btn btn-link js-toggle-follow" data-user-id="@gig.ArtistId">
                            Follow
                        </button>
                    }
                </span>

                <span class="gigs-genre">
                    @gig.Genre.Name
                </span>
                @if (Model.ShowActions)
                {
                    <button data-gig-id="@gig.Id" class="btn btn-outline-warning float-sm-right js-toggle-attendance">
                        Going ?
                    </button>
                }
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {

                var button = $(e.target);
                $.post("/api/attendances", { gigId: button.attr("data-gig-id") })
                    .done(function () {
                        button
                            .removeClass("btn-outline-warning")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });

            });

            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        alert("Something failed");
                    });
            });
        });
    </script>
}